.bgCandy{
    /* Usamos el degradado que definimos antes */
    background: linear-gradient(135deg, #ff4d4d 0%, #c40000 100%) !important;
}

.bgCandyRed {
    background: linear-gradient(135deg, #ff4d4d 0%, #c40000 100%) !important;
}

.white{
    background: linear-gradient(135deg, #ffffff 0%, #f3ebeb 100%) !important;
}

.bgCandyInverso{
    /* Usamos el degradado que definimos antes */
    background: linear-gradient(315deg, #ff0800 0%, #990000 100%) !important;
}


/* Ocultamos la segunda imagen por defecto */
.img-back {
    display: none;
}

/* Al pasar el mouse por el contenedor: */
.image-toggle-container:hover .img-front {
    display: none; /* Esconde la blanca */
}

.image-toggle-container:hover .img-back {
    display: block; /* Muestra la negra */
}


